html, body {
    margin: 0;
    padding: 0;
    background-color: ;
  }
  canvas {
    display: block;
  }
  h1{
    color:aqua;
    background-color:forestgreen;
    font-family:Verdana, Geneva, Tahoma, sans-serif
    
  }